.page {
    height: 100%;
}
.page__body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}
.container {
    width: 1280px;
    padding: 10px 200px;
    align-items: center;
    text-align: center;
}
.nav_list {
    text-align: center;
}

.nav_item {
    display: inline;
    padding: 15px;
}

.nav_link {
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;
    color: #ff0000;
    text-decoration: none;

    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    align-items: center;
}

.image {
   width: 100%;
}



.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px; -
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    color: #373737;
}
.text_1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737; 
}
 
.text_2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
    
.button {
    text-align: center;
    background-color: #ff0000;
    border: none;
    padding: 25px 75px;    
    margin-top: 100px;
    margin-left: 85px;
    border-radius: 4px;
    text-transform:uppercase;
    color: #ffffff;
    
}

.page_footer {
    text-align: right;
    color: #373737;
    letter-spacing: 2.4px;
    align-items: center;
    font-style: normal;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}

